RAILS_ENV=production
SECRET_KEY_BASE=dd7649fcdc5b9761732902df6fb818539a13cc49d01bc70bd904f8580353c17b
FRONTEND_URL=https://seudominio.com
INSTALLATION_ENV=docker

# URLs do Redis e do banco fornecidos pela Railway
REDIS_URL=redis://default:<senha>@<host>:6379
DATABASE_URL=postgresql://<usuario>:<senha>@<host>:5432/<dbname>
